
# Local Netlify folder
.netlify
dist
.env
node_modules
notes.md
netlify/functions/auth-fetch-example
netlify/functions/protected-function-example
netlify/functions/sanity-create-example
netlify/functions/sanity-groq-example