@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

body {
    color:#1a0909;
    margin:0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(247, 246, 243);
}

.grid {
    display:grid;
    width:100%;
    grid-template-columns: 50% 50%;
    height: 100%;
}

.box, .log {
    padding:20px 30px 20px 40px;
}

.box > img {
    opacity: .5;
    height: 50px;
    display: inline-block;
}

a {
    color: #1a0909;
}

li {
    list-style: none;
}

ul {
    padding:0px;
}

body.logged-out h2.sanity-title {
    color: silver;
}

body.logged-in .sanity-no-go {
    display:none;
}

body.logged-out .sanity-operations {
    display:none;
}

.sanity-no-go {
    border:4px dashed silver;
    border-radius: 6px;
    height: 300px;
    display:grid;
}

.sanity-no-go > div {
    align-self: center;
    justify-self: center;
}

.sanity-operations input {
    background-color: white;
    border:1px solid #6B6B6B;
    padding:4px;
    border-radius: 1px;
    width:200px;
}

button, .data-netlify a, #notes li {
    background-color: white;
    border:1px solid #6B6B6B;
    padding:4px 6px;
    border-radius: 3px;
    text-decoration: none;
    font-size:16px;
}

li > button {
    border:0px;
    margin-right:10px;
    font-size:16px;
    line-height:16px;
}

.data-netlify li {
    display: inline-block;
    margin-right:6px;
    margin-top:6px;
}

p, div, span, a {
    font-size:14px;
}

#notes li {
    margin-bottom:4px;
}

.sanity-operations button:hover {
    cursor:pointer;
    background-color: rgb(240, 200, 200);
}

.netlify a:hover {
    cursor: pointer;
    background-color: rgb(170, 200, 215);
}

#animation {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index:100000;
    background-color: rgba(100,100,100,.74);
    text-align:center;
}

#animation img {
    width:10%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: .5;
    animation: 2s rocking infinite ease-in-out
}

@keyframes rocking {
    0% { 
        transform: rotate(0deg)
    }
    25% { 
        transform: rotate(10deg)
    }
    75% { 
        transform: rotate(-10deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

footer {
    position: fixed;
    bottom: 0;
    text-align:center;
    width: 100%;
    padding:10px;
}

footer div {
    display: inline-block;
    padding:10px;
}

footer img {
    width:22px;
}

.nota {
    margin-top:60px;
    font-size: 11px;
    color:#1a0909;
    width:330px;
}

.netlify-identity-signup:after {
    content: "*";
    width:20px;
    height:20px;
}

.sanity-link img {
    filter: grayscale(100%);
    opacity: 0.8;
}